<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="js/angular.js"></script>
    <script type="text/javascript" src="js/angular-translate.min.js"></script>
    <script type="text/javascript" src="js/datePickerNahum.js"></script>
    <script type="text/javascript" src="js/translator.js"></script>
    <script src="js/literales_es.js"></script>
    <script src="js/literales_en.js"></script>
    <link rel="stylesheet" type="text/css" href="styles/styles.css" media="screen">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <title ng-bind="'litHeader' | translate"></title>
</head>

<body ng-app="myApp" ng-controller="MyController">
    <header id="header">
        <button class="derecha" ng-click="changeLanguage('es')" ng-bind="'litES' | translate"></button>
        <button class="derecha" ng-click="changeLanguage('en')" ng-bind="'litEN' | translate"></button>
    </header>
    <main id="main">
        <div>
            <input type="date" id="ini" onchange="showDatesAndDays()">
            <input type="date" id="fin" onchange="showDatesAndDays()"><br>
        </div>
        <label ng-bind="'litIni' | translate"></label>
        <div id="containerIni">

        </div>
        <label ng-bind="'litFin' | translate"></label>
        <div id="containerFin">

        </div>
        <label ng-bind="'litDias' | translate"></label>
        <div id="containerDays">

        </div>
        <div>
            <button onclick="changeFormatToDateString()" ng-bind="'litFormatoString' | translate"></button>
            <button onclick="changeFormatToLocaleDateString()" ng-bind="'litFormatoLocale' | translate"></button>
        </div>
        <div>
            <button onclick="limpiar()" ng-bind="'litLimpiar' | translate"></button>
        </div>
    </main>

</body>

</html>
