* {
  font-family: 'Roboto', sans-serif;
}

button {
	background-color:#435EF5;
	border-radius:8px;
	cursor:pointer;
	color:#ffffff;
	font-weight:bold;
  padding: 0.5rem;
  text-align: center;
}

button:hover {
	background-color:#7287FE;
}

label, div {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: bold;
  text-align: center;
  display: block;;
}

div{
  color: #968989;
}

#lang{
  float: right;
  top: 0;
  right: 0;
}

header{
  width: 100%;
  height: 2rem;
}

main{
  width: 100%;
  height: auto;
}

.derecha{
  float: right;
}
